.App.Admin {
  background-color: white;
  color: black;
}

.App.Admin .container-fluid {
  background-color: white;
}

.vom-canvii {
  display: flex;
  align-items: flex-start;
}

.vom-admin-canvas-container {
  width: 40%!important;
  position: relative;
}

#vom-admin-canvas {
  justify-self: center;
  grid-area: vom-admin-canvas;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#vom-results-panel {
  width: 100%;
}

#vom-results {
  overflow-x: scroll;
  width: 100%;
  margin-left: 1rem;
}

#vom-results-table {
  width: 100%;
  overflow-y: scroll;
}

#vom-results-filters h6 {
  color: #6c757d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

#vom-results-filters h4 {
  display: flex;
  justify-content: space-between;
}

.vom-filter-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  margin-bottom: 0;
}

#vom-filter-actions button {
  margin-left: 10px;
}

.vom-results-data {
  display: flex;
}

.vom-results-data p {
  padding-right: 1rem;
}

.vom-table-results thead {
  text-transform: capitalize;
}

.vom-table-results tr {
  cursor: pointer;
}

.vom-table-results tr.main-row { 
  border-top: 2px solid #a0a2a5;
}

.vom-table-results tr.data-focused,
#vom-results-table tr.data-focused {
  background-color: #17a2b845 !important;
}

.vom-table-results tr.data-focused th,
.vom-table-results tr.data-focused td {
  border: 1px solid #a0a2a5;
}

.vom-filter-switch-group {
  display: flex;
  justify-content: space-between;
}

.vom-filter-switch {
  width: 25%;
}

.vom-selected-data {
  padding-left: 1rem;
}