@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

.App {
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 0.5rem;
}
.App.Admin {
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

.App .container,
.App .container-fluid {
  background-color: #4b505a6b;
  border-radius: 0.3rem;
  padding: 2rem;
}

.App section {
  display: flex;
  flex-direction: column;
}

button:disabled,
button.disabled {
  cursor: not-allowed;
};

h1 {
  font-family: 'Open Sans' , sans-serif;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  align-self: flex-end;
}


.custom-switch {
  display: flex;
}

.custom-control-label {
  display: flex;
  align-items: center; 
}

.custom-control-label h6 {
  margin-bottom: 0!important;
}

#magic-canvas,
#vom-admin-canvas {
  width: 100%;
  height: 80vh;
  background-color: #F2F2F2;
  background-image: url('merseyside-nobg.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#magic-canvas.border-success {
  border-width: 4px!important;
}

#vom-drawing-canvas {
  position: relative;
}

#vom-drawing-canvas button {
  align-self: flex-end;
}

#vom-canvas-tools {
  display: flex;
  justify-content: space-between;
}

#vom-canvas-mode {
  position: absolute;
  top: 3.5rem;
  left: 0.5rem;
  color: #282c34;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#vom-progress-bar {
  width: 100%;
  height: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #6c757d;
  position: fixed;
  top: 0;
  z-index: 99;
}

.vom-progress-page {
  width: 0;
  transition: width 500ms ease-in-out;
}

.vom-progress-page.progress-done {
  background-color: #17a2b8;
  width: 100%;
}

#vom-results {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
}

#vom-results-filters h6 {
  color: #6c757d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
}

#vom-results-filters h4 {
  display: flex;
  justify-content: space-between;
}

.vom-filter-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  margin-bottom: 0;
}

#vom-filter-actions button {
  margin-left: 10px;
}

.vom-results-data {
  display: flex;
}

.vom-results-data p {
  padding-right: 1rem;
}

